<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a [routerLink]="['/']">
            Desafio PS
        </a>
    </li>
    <li>
        <a [routerLink]="['/music']">iTune</a>
    </li>
    <li>
        <a [routerLink]="['/user']">Usuarios</a>
    </li>
    <li>
        <a [routerLink]="['/user/profile']">
            Perfil de usuario
        </a>
    </li>
    <li>
        <a [routerLink]="['/user/login']">
            Inicio de sesion
        </a>
    </li>
    <li>
        <a [routerLink]="['/user/logout']">
            Salir
        </a>
    </li>
</ul>